body {
        
}  

ul {
  list-style-type: none;
}

h1, h2, p, ul {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main ul li a img {
  width: 20%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
