@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
    letter-spacing: 1px;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 12px 0;
    box-shadow: 0 5px 15px -5px rgb(29, 29, 29);
}

header a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    color: whitesmoke;
}

header a:hover {
    color: #118afa;
}

main {
    height: 1000px;
    margin: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.intro {
    height: 800px;
}

.intro h1 {
    font-size: 15vw;
    margin-bottom: -1vw;
}

.intro img {
    margin: 50px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

#web {
    margin: 100px 0 0 0;
    height: 800px;
}

#about {
    height: 800px;
}

footer {
    position: absolute;
    bottom: -250px;
    width: 150vw;
    height: 250px;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 20px;
}

footer p {
    margin: 20px 0 50px 0;
    font-size: 15px;
    color: #118afa;
}
