/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

:root {
    --main-color: darkgrey;
    --red-color: #ff1515;
    --second-color: grey;
}

* {
    font-family: 'EB Garamond', serif;
    color: var(--main-color);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow-x: hidden;
}



/* HEADER STYLES */

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 2rem;
}

header>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    background-color: black;
    font-size: .8rem;
    font-weight: 600;
    padding: .5rem;
    color: var(--main-color);
    border: solid 2px var(--main-color);
    border-radius: 1rem;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.button:hover {
    background-color: var(--red-color);
    border: none;
    color: black;
    padding: calc(.5rem + 2px);
}

/* MAIN STYLES */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle {
    margin-top: 5rem;
    display: flex;
    align-items: flex-start;
    border-top: solid 8px var(--main-color);
    opacity: 0;
    animation: appear 3s ease-in 0s 1 normal both;
}

.mainTitle h1 {
    margin-top: -.5rem;
    /* font-size: 11rem; */
    font-size: 13vw;
    font-weight: 800;
    border-bottom: solid 8px var(--main-color);
    background-color: transparent;
}

.mainTitle h1:nth-child(3) {
    margin-left: .5rem;
}

.mainTitle h2 {
    /* font-size: 8rem; */
    font-size: 10vw;
    font-weight: 800;
    letter-spacing: -.5rem;
}


.mainTitle>div {
    display: flex;
    flex-direction: column;
}

.mainTitle>div>div {
    display: flex;
    justify-content: space-between;
}

.mainTitle>div>div>div {
    display: flex;
}

.mainTitleDash {
    /* height: 1rem; */
    height: 1.25vw;
    /* width: 7rem; */
    width: 7vw;
    align-self: center;
    border-radius: .3rem;
    background-color: var(--main-color);
    transition: background-color .2s ease-in-out;
}

.mainTitleDash:hover {
    background-color: var(--red-color);
}

.mainTitle h1, .mainTitle h2 {
    color: var(--main-color);
    transition: color .2s ease-in-out;
}

.mainTitle h1:hover, .mainTitle h2:hover {
    color: var(--red-color)
}



@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* MAIN ABOUT STYLES */

.mainAbout, .mainTech {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.mainAbout>h1, .mainProjects>h1, .mainTech>h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--second-color);
}

.mainAbout p {
    margin-top: 1rem;
    font-size: 1.25rem;
    width: 30rem;
}

/* MAIN PROJECTS STYLES */

.mainProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    width: calc(100vw - 4rem);
    border-bottom: solid 1px var(--main-color);
    padding-bottom: 3rem;
}

.project {
    margin-top: 3rem;
    border-top: solid 1px var(--main-color);
    width: calc(100vw - 4rem);
    display: flex;
    flex-direction: column;
}

.project p {
    align-self: flex-end;
    margin: 2rem 5rem 0 0;
}

.project a {
    align-self: center;
    font-size: 8rem;
    font-size: 9vw;
    font-weight: 800;
}

.project h1 {
    transition: color .2s ease-in-out;
}

.project h1:hover {
    color: var(--red-color);
}


/* MAIN TECH STYLES */

.mainTech {
    margin-top: 10rem;
}

.techImgs {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech h2 {
    font-weight: 600;
    font-size: 1.2rem;
}

.techImg {
    height: 5rem;
    width: 5rem;
    transition: all 1s ease-in-out;
    margin-top: 1.2rem;
}

.techImg:hover {
    transform: perspective(100px) translateZ(2rem);
    margin: 1.2rem 1rem 0 1rem;
}




/* FOOTER STYLES */

footer {
    margin-top: auto;
    width: 100vw;
}

.footerEmail {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.footerEmail h1 {
    font-size: 2rem;
    font-weight: 600;
}

.footerEmail h1:hover {
    color: var(--second-color);
}

.footerMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
}

.footerMain>div {
    width: 20rem;
}

.footerLinks {
    display: flex;
    justify-content: center;
    gap: .7rem;
}

.footerTag {
    display: flex;
    justify-content: end;
}

.footerTag p:nth-child(2) {
    color: var(--second-color);
}