/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

:root {
    --main-color: darkgrey;
    --red-color: #ff1515;
    --second-color: grey;
}

* {
    font-family: 'EB Garamond', serif;
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* HEADER STYLES */

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: .5rem 1rem;
    width: 100vw;
}

.headerTitle {
    display: none;
}

.button {
    background-color: black;
    font-size: .8rem;
    font-weight: 600;
    padding: .5rem;
    color: var(--main-color);
    border: solid 2px var(--main-color);
    border-radius: 1rem;
}

header>div {
    justify-content: center;
}

/* MAIN STYLES */

main {
    align-items: center;
    max-width: 1200px; 
    width: 100vw;
}

.mainTitle {
    margin-top: 10rem;
    display: flex;
    align-items: flex-start;
    border-top: solid 3px var(--main-color);
    opacity: 0;
    transition: opacity 3s ease-in;
}

.appear {
    opacity: 1;
}

.mainTitle h1 {
    margin-top: -.2rem;
    font-size: 16vw;
    font-weight: 800;
    border-bottom: solid 3px var(--main-color);
}

.mainTitle h1:nth-child(3) {
    margin-left: .25rem;
}

.mainTitle h2 {
    font-size: 12vw;
    font-weight: 800;
    letter-spacing: -.2rem;
}

.mainTitle>div>div {
    display: flex;
    justify-content: space-between;
}

.mainTitle>div>div:nth-child(2) {
    margin-top: -.5rem;
}

.mainTitle>div>div>div {
    display: flex;
}

#front h2:nth-child(4) {
    margin-left: .3rem;
}

.mainTitleDash {
    height: 1.25vw;
    width: 7vw;
    align-self: center;
    border-radius: .3rem;
    background-color: var(--main-color);
}

.mainTitle h1, .mainTitle h2 {
    color: var(--main-color);
}


/* MAIN ABOUT STYLES */

.mainAbout, .mainTech, .mainProjects {
    align-items: center;
    margin-top: 10rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--second-color);
}

.mainAbout p {
    margin-top: 1rem;
    font-size: 1.25rem;
    width: 90vw;
    text-align: center;
}

/* MAIN TECH STYLES */

.techImgs {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.tech {
    align-items: center;
    width: 6rem;
}

.tech h2 {
    font-weight: 500;
    font-size: 1.2rem;
}

.techImg {
    height: 5rem;
    width: 5rem;
    transition: all .5s ease-in-out;
    margin-top: .8rem;
}

.react {
    width: 5.5rem;
}

.clickSpin {
    animation: spin 1s  ease-in-out 1 normal;
}

@keyframes spin {
    0% {
        transform: perspective(100px) translateY(0) rotateY(0deg);
    }
    100% {
        transform: perspective(100px) translateY(0) rotateY(360deg);
    }
}

/* MAIN PROJECTS STYLES */

.mainProjects {
    width: calc(100vw - 2rem);
    max-width: calc(1200px - 2rem);
    border-bottom: solid 1px var(--main-color);
    padding-bottom: 3rem;
}

.project {
    margin-top: 3rem;
    border-top: solid 1px var(--main-color);
    width: calc(100vw - 2rem);
    max-width: calc(1200px - 2rem);

}

.project p {
    align-self: flex-end;
    margin: 2rem 1rem 0 0;
}

.project a {
    align-self: center;
    font-size: 8rem;
    font-size: 9vw;
    font-weight: 800;
}

/* FOOTER STYLES */

footer {
    margin-top: auto;
    width: 100vw;
}

.footerEmail {
    display: flex;
    justify-content: center;
    margin: 10rem 0 5rem 0;
}

.footerEmail h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.footerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    gap: 1rem;
}

.footerLinks {
    display: flex;
    justify-content: center;
    gap: .7rem;
}

.footerTag {
    display: flex;
    justify-content: end;
}

.footerTag p:nth-child(2) {
    color: var(--second-color);
}